.nav.navbar-nav li {
    float: left;
    font-size: 25px;
    margin-left: 40px;
}

.container {
    width: 100%;
    padding: 0px;
}

.navbar-inverse {
    width: 100%;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.filter-text {
    display: inline-block;
    margin: 10px;
    color: white;
    font-size: 20px;
}

.search-container {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #252525;
}

.searchBox {
    color: #252525;
}


.table-container{
    width: 75%;
    height: 400px;
    float: left;
    border-color: black;
    border-style: solid;

}


.table {
    float: left;
}
.details-box {
    font-weight: bold;
    border-style: solid;
    border-color: #252525;
    display: inline-table;
    width: 25%;
    height: 400px;
    padding-left: 10px;
}

.data-rows {
    cursor: pointer;
}

.lower {
    margin: 30px;
    padding: 0;
    border-color: white;
    text-align: center;
}

button:focus{
    outline: 0 !important;
}